@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Heading elements */

h1, h2{
    font-family: Playfair Display, sans-serif ;
    text-transform: upppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
}


/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li{
    float: right;
    list-style-type: none;     /*get rid of the list bullet points*/
    margin: 30px;
}