@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    position: relative;
}

/* Heading elements */

h1, h2{
    font-family: Playfair Display, sans-serif ;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}


#logo, #menu{
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type: none;    
    margin: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
} 

#menu a:hover{
    border-bottom: 1px solid rgba(228, 19, 15, 0.7);
}

.active{
    border-bottom: 1px solid rgba(228, 19, 15, 0.7);
}








/* Section 1:: Main Image and overlay-text*/

#main-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#overlay-text , #overlay-text h2{
    color: #fff;
}



#main-image{
    height: 600px;
    width: 100%;
    background: url('../images/anfield.jpg') no-repeat center center;

    /* Adds illussion zoom out effect for main image upon page rendering */
    animation-name: main-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}


/* Creates illusion of zooming out for main image */
@keyframes main-out {
    from{
        transform: scale(1.4);
    }
    to{
        transform: scale(1);
    }
}

#overlay-text{
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, 0.7);

    bottom: 20px;
    right: 150px;

    position: absolute;
}









/* Section2:: milestones */

#milestones{
    height: 600px;
    margin-bottom: 5px;
}

#left-side{
    padding-top: 30px;
    width: 28%;
    float: left;
    background-color: #fff;
}

#right-side{
    padding-top: 30px;
    width: 28%;
    float: right;
}

#center-part{
    width: 46%;
    margin: 0 auto;        /*since 'float center' is not possible we instead use margin 0 auto for the intended effect */
}   

hr{
    border-top: 1px solid rgba(228, 19, 15, 0.7);   /*add colour consistency with overlay image above*/
    width: 100%;
    height: 4px;
    margin: 5px 0 ;
}

.left-side-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-heading{
    width: 60%;
    float: left ;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-heading h2{
    text-align: right;
}

.right-side-heading p{
    text-align: right;
}

#milestones-main{
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

#center-container{
    width: 400px;
    height: 400px;
    padding: 1px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin: 0 auto;     /*centre the background image */
}


#center-bg{
    height:100%;
    background-color: rgba(0, 0, 0, 0.02);
}


.clsimg{
    max-height: 100%;
    max-width: 100%;
    opacity: 0.1;
}













    /* Section3:: Sign Up Form */

    .form-section {
        /* clear: right; */
        margin: auto;
        /* background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg"); */
        background-size: cover;
        background-position: center;
        height: 500px;
        width: 30%;
    }


    .signup-form{
        /* margin: 150px 50% 0 0; */
        margin: auto;
        color: #fff;
        /* background-color: rgba(60, 60, 60, 0.6); */
        background-color: rgba(47,79,79, 0.6);
        /* max-width: 400px; */
        position: relative;
        /* left: 10%; */
        padding: 30px;
    }
    
    .signup-form h2{
        color: #fafafa;
        margin-bottom: 50px;
        text-align: center;
        font-size: 200%;    
    }

    .signup-form p{
        color: #fafafa;
        margin-bottom: 50px;
        text-align: center;
        font-size: 120%;    
    }
    
    .text-input{
        background: #fafafa;
        color: #3a3a3a;
        width: 100%;
        height: 25px;
        margin: 5px 0 20px;
        border: 1px solid #fafafa;
        border-radius: 2px;
    }
    
    .text-input:hover{
        border-color:  rgba(228, 19, 15, 0.7);
    }
    
    .join-button{
        /* margin-top: 20px; */
        border-radius: 2px;
        /* padding: 15px 32px; */
        text-align: center;
        font-size: 100%;
        /* background-color: #f16c6b; */
        background-color: rgba(228, 19, 15, 0.7);
        color: #fafafa;
        display: block;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    
    .join-button:hover{
        background-color: #fafafa;
        color: rgba(228, 19, 15, 0.7)
    }









    /* Section 4:: Resources */

    /* #resources{
        height: 450px;
        height: 20%;
        padding: 1%;
        margin-top: 5px;
        background-color: rgba(228, 19, 15, 0.7);
    } */

    #shankly-gates{
        width: 33%;
        height: 100%;
        float: left;
    }

    #shankly-kop{
        width: 33%;
        height: 20%;
        float: right;
    }

    #useful-links{
        /* background-color: white; */
        background-color: #fafafa;
        margin-top: 150px;
        /* margin: 0 auto; */
        /* width: 70%; */
        margin-bottom: 50px;
        padding: 75px 0;
    }


    #useful-links h2{
        font-family: Playfair Display, sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 200%;  
        letter-spacing: 4px;
        color: #252525;
    }

    #useful-links h3{
        font-family: Roboto, sans-serif;
        margin-top: 10px;
        margin-bottom: 40px;
        /* text-transform: uppercase; */
        text-align: center;
        font-size: 120%; 
        letter-spacing: 4px;
        color: #252525;
    }

    #useful-links li{
        font-family: Roboto, sans-serif;
        margin-bottom: 30px;
        text-align: center;
        letter-spacing: 4px;
        color: #252525;
        list-style-type: none;
    }

    #useful-links li a{
        color:  #252525;
    }


    #useful-links li a:hover{
        color: rgba(228, 19, 15, 0.7);
    }







    /* Footer */

footer{
    min-height: 50px;
    /* width: 100%; */
    position: relative;
    /* margin: 50px 0; */
    bottom: 0;
}

footer p {
    text-align: center;
}

.social-networks{
    text-align: center;
}


.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 220%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/* Media Queries */

/* Targeting large to medium screens sizes of 1207px wide and below */
@media screen and (max-width: 1207px) {
    #milestones {
        width: 65%;
        height: 1207px;
        margin: 0 auto;
    }
}