@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Heading elements */

h1, h2{
    font-family: Playfair Display, sans-serif ;
    text-transform: upppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type: none;     /*get rid of the list bullet points*/
    margin: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
} 

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Main Image and overlay-text*/

#main-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#overlay-text , #overlay-text h2{
    color: #fff;
}



#main-image{
    height: 600px;
    width: 100%;
    background: url('../images/anfield.jpg') no-repeat center center;

    /* Adds illussion zoom out effect for main image upon page rendering */
    animation-name: main-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}


/* Creates illusion of zooming out for main image */
@keyframes main-out {
    from{
        transform: scale(1.4);
    }
    to{
        transform: scale(1);
    }
}

#overlay-text{
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* milestones */

#milestones{
    height: 600px;
}

#left-side{
    padding-top: 30px;
    width: 28%;
    float: left;
    background-color: #fff;
}

#right-side{
    padding-top: 30px;
    width: 28%;
    float: right;
}

#center-part{
    width: 46%;
    margin: 0 auto;        /*since 'float center' is not possible we instead use margin 0 auto for the intended effect */
}   

hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0 ;
}

.left-side-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-heading{
    width: 60%;
    float: left ;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-heading h2{
    text-align: right;
}

.right-side-heading p{
    text-align: right;
}

#milestones-main{
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

#center-container{
    width: 400px;
    height: 400px;
    padding: 1px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin: 0 auto;     /*centre the background image */
}


#center-bg{
    height:100%;
    background-color: rgba(0, 0, 0, 0.02);
}


.clsimg{
    max-height: 100%;
    max-width: 100%;
    opacity: 0.1;
}
